<div class="row">
  <div class="twelve rows col_one_title">
    <div class="footer">
      <h2 class="footphone"><i class="fa fa-mobile"></i></h2>
      <a class="textfoot hvr-underline-from-center" href="https://github.com/ariingber">created by ari ingber</a>
    </div>
  </div>
</div>
