<div class="row">
  <div class="twelve rows col_one_title">
    <div class="footer">
      <a href="https://github.com/ariingber/textbub/tree/master/textbub_app" ><i style="font-size:20px;color:lightgrey;" class="fa fa-github-alt"></i></a><br>
      <a style= "margin-top:-25px; color:lightgrey;"class="textfoot hvr-underline-from-center" href="https://github.com/ariingber">created by ari ingber</a>

    </div>
  </div>
</div>
