/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require font-awesome
 */
#mainT {
  margin-left: 90px;
}

 li {
     list-style-type: none;
     display: inline;
     font-size: 20px;
   }

   ul {
     width: 80%;
     margin: 0 auto;
     text-align: center;
   }
   p {
     text-align: center;
     margin-left: 15px;
     margin-bottom: -4px;
   }
   .img-responsive{
     position: relative;
     left: 25%;
     border-radius: 20px;
   }
   .navbutts {
     margin-top: -12px;
   }

   .phoneimg {
     border: solid black 1px;
     border-radius: 20px;
   }
   .ctitle {
     text-align: center;
   }
   .col_one_title{
     margin-top: 10px;
     text-align: center;
   }
   .html {
     border: solid black 1px;
   }
   #reviewcol {
     text-align: center;
   }
   .link {
     padding: 5px;
     text-decoration: none;
     background-color: transparent;
   }
   .num {
     font-size: 18px;
     margin-top: -25px;
   }
   .numtext {
     text-decoration: none;
     color: black;
   }
   .popup{
     margin-top: -3px;
     font-size: 8px;
   }
  .about {
    font-size: 12px;
    width: 225px;
    height: 121px;
  }
  .boxtitle {
    text-align: left;
  }
  .scroll {
    border-radius: 25px;
    padding: 15px;
  }
  .footphone{
    margin-bottom: -12px;
  }
  .textfoot{
    font-size: 9px;
  }
  #aboutbox {
    margin-top: 15px;
  }
