<div class ="row">
  <div class="twelve columns" style="text-align:center">
    <h1>textbub <i class="fa fa-volume-up" ></i></h1><br>
      <audio src="<%= audio_path 'bensound-acousticbreeze.mp3'%>" type="audio/mpeg" controls>
        Your browser does not support the audio element.
      </audio>
  </div>
</div>

<div class ="row">
  <div class="twelve columns" style="text-align:center">
      <h5> noun | text*bub | \'tex-t'bub\ </h5><br>
      <h5> textbub is a technology that allows users to leave reviews for service providers via text message</h5>
  </div>
</div>
