
<div class ="row"><br>
  <div class="twelve columns" style="text-align:center">
    <div style="margin-top:-30px">
      <a href="https://textbub.herokuapp.com"><h5>textbub</a>
        <audio id="sound1" src="/resource/textbubsound.mp3" preload="auto"></audio>
        <button onclick="document.getElementById('sound1').play();">
          <i class="fa fa-volume-up"></i>
        </button></h5>
    </div>

  </div>
</div>

<div class ="row">
  <div class="three columns" style="text-align:center"><a href="https://driver-babylon.herokuapp.com/level_one"><i class="fa fa-car" style="color:lightgrey"></i></a></div>
  <div class="six columns" style="text-align:center">
      <p style="margin-top:-30px; margin-bottom:3px;" > noun | text*bub | \'tex-t'bub\ </p><br>
      <div style="border: solid black 1px; padding: 15px; border-radius: 10px;">
        <p style="text-align:center; text-decoration:underline; margin-bottom: 3px; margin-top:-10px;">Reviewers and Browsers</p>
        <p style="text-align:left; font-size:12px; margin-bottom: 3px;">textbub is a technology that allows users to leave reviews for service providers via text message without having to login or create a profile.</p>
        <p style="text-align:left; font-size:12px; margin-bottom: 3px;">If you would like to review a service provider send textbub a text with the service provider's handle.</p>
        <p style="text-align:left; font-size:12px; margin-bottom: 3px;">For example a text to text bub might read @yumyumpizza you make the greates pizza in all of chicago! Thank you! -Teressa... </p>
        <p style="text-align:left; font-size:12px; margin-bottom: 3px;">You can also fully browse service providers on textbub without logging in if you are looking for something in your area and want to see what people are saying about them.</p>
      </div><br>
      <div style="border: solid black 1px; padding: 15px; border-radius: 10px;">
        <p style="text-align:center; text-decoration:underline; margin-bottom: 3px; margin-top:-10px;">Service Providers</p>
        <p style="text-align:left; font-size:12px; margin-bottom: 3px;">If you're a service provider set up a profile with textbub and give your coustomers your handle.</p>
        <p style="text-align:left; font-size:12px; margin-bottom: 3px;">Idea: you might have a sign at your shop that says something like if you liked your hair cut from Frank text textbub @FranksCuts [some review here].</p>
      </div>
  </div>
  <div class="three columns" style="text-align:center"><a href="https://driver-babylon.herokuapp.com/level_one" ><i class="fa fa-car" style="color:lightgrey"></i></a></div>
</div>
