<header>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</header>

<div class ="row"><br>
  <div class="twelve columns" style="text-align:center">
    <a href="https://textbub.herokuapp.com"><h5>textbub</a>
      <audio id="sound1" src="/resource/textbubsound.mp3" preload="auto"></audio>
      <button onclick="document.getElementById('sound1').play();">
        <i class="fa fa-volume-up"></i>
      </button>
</h5>

  </div>
</div>

<div class ="row">
  <div class="three columns" style="text-align:center"><a href="https://driver-babylon.herokuapp.com/level_one"><i class="fa fa-car" style="color:lightgrey"></i></a></div>
  <div class="six columns" style="text-align:center">
      <p style="margin-top:-15px"> noun | text*bub | \'tex-t'bub\ </p><br>
      <p style="text-align:left"> textbub is a technology that allows users to leave reviews for service providers via text message without having to ever login or create a profile anywhere. If you'd like to leave reviews for service providers <a href="/resource/textbub.vcf" download>add textbub's number to your contacts</a>.  When you come across a service provider with a textbub handle just text textbub @thatserviceprodivers handle followed by your review and their reviews will automatically update.  For example a text to text bub might read @yumyumpizza you make the greates pizza in all of chicago! Thank you! -Teressa... If you're a service provider set up a profile on textbub and let your coustomers know how to give you a review.  For example you might have a sign at your babeshop that says if you like your hair cut from Frank text textbub @FranksCuts [some review here].  You can also fully browse service providers on textbub without logging in if you are looking for something in your area and want to see what people are saying about them.</p>
  </div>
  <div class="three columns" style="text-align:center"><a href="https://driver-babylon.herokuapp.com/level_one" ><i class="fa fa-car" style="color:lightgrey"></i></a></div>
</div>
