<% if session[:current_user_id] %>
  <div class="ctitle"><br><br>
  <h5>hey, thanks for logging into textbub</h5>
    <% if session[:current_user_id] %>
      <button class="hvr-underline-from-center"><%= link_to "head to your profile",
        user_path(session[:current_user_id]) %></button><br><br>
        <% end %>
  <% else %>
</div>

  <div class="row">
    <div class="twelve columns col_one_title">
      <button id="how" class="hvr-underline-from-center">what is textbub?</button>
      <button id="how" class="hvr-underline-from-center">how does it work</button>
      <div><%= image_tag "phonegrab.PNG", size: "225x405", class: "phoneimg" %></div>
    </div>
  </div>

<% end %>
