<% if session[:current_user_id] %>
  <h5>Hey Member, Thanks for Logging into TextBub</h5>
<% else %>
  <h5>hello and welcome to textbub please feel free to just browse our site, login, or sign up</h5>
<% end %>
