<% if session[:current_user_id] %>
  <h5>Hey, Thanks for Logging into TextBub</h5>
<% else %>

  <div class="row">
    <div class="twelve columns col_one_title">
      <button id="how" class="hvr-underline-from-center">what is textbub?</button>
      <button id="how" class="hvr-underline-from-center">how does it work</button>
      <div><%= image_tag "phonegrab.PNG", size: "225x405", class: "phoneimg" %></div>
    </div>
  </div>

<% end %>
