<% if session[:current_user_id] %>
  <div class="ctitle"><br><br>
  <h5>hey, thanks for logging into textbub</h5>
    <% if session[:current_user_id] %>
      <button class="hvr-underline-from-center"><%= link_to "head to your profile",
        user_path(session[:current_user_id]) %></button><br><br>
        <% end %>
  <% else %>
</div>
  <div class="row">
    <div class="twelve columns col_one_title">
      <button class="hvr-underline-from-center" style="text-decoration:none"><%= link_to "what is textbub?",
        about_path %></button><br>
      <div class="hvr-underline-from-center"><%= image_tag "phonegrab.PNG", size: "205x385", class: "phoneimg" %></div>
    </div>
  </div>

<% end %>
