<h4>Reviews</h4><br>
<% @reviews.each do |review| %>
  <div>
    <p>Content: <%= review.content %></p>
    <p>Caller's Number: <%= review.review_phone %></p>
    <p>Handle: <%= review.handle %></p>
  </div><br><br>
<% end %>
